#connection parameter 
conn.php
#admin
admin

#IntelliJ 
.idea/

#Aptana
.settings/
.project

#Ftp
.ftpquota

#Laravel
/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env

#Mac common
.DS_Store
