 /* Definisco le regole per il corpo del documento */
body { 
	 background: White; /* Prima dichiarazione: notate il punto e virgola finale!*/
	 font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; /* Seconda dichiarazione*/
	 font-size: 12px; /* Terza dichiarazione */
}

/* Titolo di primo livello */
h1 {
	color: black;
}

/* Paragrafo generico */
p {
	color: blue;
	font: 14px/1.5 Georgia, "Times New Roman", serif;
}


#div1 {
	 background: Silver; /* Sfondo color argento */
	 width: 300px; 
	  }

#div2 {
	 background: Silver;
	 width: 300px; 
	 position: absolute; 
	 top: 400px;	 
	 left: 400px;
} 